<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <title>{{title}}</title>
<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=Wf2DdzxuWr6ciHlLoIc-l6mGSejeopALdnTflno1OLZ8NaQ0kr7iU4sBXatg784cEQDzlYMMzh1GT0FEifn7AUEjQrYkiPqqkxIJn0biH5479JY1-YsHh-F7CpTD7djmFsHmN1mEbEwk_Io33mTFRlAmEzpzz2SiLjmgzutnqOFOoWnLm71ixQAlBQRSgGLvI3bWzOHpKV1CPNvtZuGSyssOwwu6JJ3VuMVk0Sqi-TDkciiPt55UZSi6P2DYT28-7ozPnxKSt4Yx_3BtGEsaqba9c1DeCMyd1Ft2ZKN8QEo" charset="UTF-8"></script></head>
  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
          <h1>Миссия Колонизация Марса</h1>
        <a class="navbar-brand" href="#">Mars One</a>
      </nav>
        <h4>И на Марсе будут яблони цвести!</h4>
    </header>
    <!-- Begin page content -->
    <main role="main" class="container">
        {% block content %}{% endblock %}
    </main>
  </body>
</html>